<footer>
  <div class="footer-body">
    <h1><a href="/" class="footer-logo"><%= image_tag 'logo.png', size: "250x35" %></a></h1>
    <small>Copyright © Potepan Share 2023 All rights reserved</small>
  </div>
</footer>
