body {
  margin: 0;
  min-height: 100vh; 
  position: relative;
  box-sizing: border-box;
  padding-bottom: 630px;
}
.navbar-style {
  background-color: rgb(42, 48, 63);
  width: 100%;
  height: 80px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar:before, .navbar:after {
  display: none;
  content: none;
}
ul {
  list-style: none;
}
.right-menu {
  display: flex;
  margin-right: 30px;
  align-items: center;
}
.right-menu li {
  margin-right: 7px;
  cursor: pointer;
  color: #fff;
}
.mark {
  font-size: 12px;
}
.left-menu {
  margin-left: 30px;
  cursor: pointer;
}
.userimage {
  border-radius: 50%;
  width: 40px;
  margin-top: 5px;
  overflow: hidden;
}
footer {
  background-color: rgb(42, 48, 63);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-body {
  padding: 200px 50px;
}
h1 {
  margin: 0;
}

.dropdown-list {
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ccc;
  width: 130px;
  height: 148px;
  margin-left: auto;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  top: 65px;
  right: 0;
  display: none;
}
.dropdown-list ul {
  padding: 0;
  margin: 0;
  height: 100%;
}
.dropdown-list ul li {
  padding: 3px 3px 3px 6px;
  cursor: pointer;
}
.dropdown-list ul li.new-menu {
  border-bottom: 1px solid #ccc;
  padding: 6px;
}
.dropdown-list ul li.logout-menu {
  border-top: 1px solid #ccc;
  padding: 6px;
}
.active {
  display: block;
}
.post {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  margin-right: 30px;
}
.login-button {
  margin-right: 30px;
}
.new-button {
  background-color: rgb(252, 136, 107);
  border-radius: 4px;
  padding: 10px 12px;
}

.notice, .alert{
  font-size: 17px;
}
.area-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.area {
  position: relative;
  margin-left: 30px;
}
.area-text {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: white;
}
.area-text h3 {
  font-size: 30px;
}
