// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-container h1 {
  color: #fff;
  font-size: 80px;
  padding: 100px 0 30px 0;
  margin: 0;
  line-height: 100px;
}
.main-container {
  width: 100%;
  height: 1000px;
  background-image: url('cover-lg.jpg');
  background-size: cover;
  text-align: center;
}
.search-form {
  background-color: rgba(255,255,255,.3);
  width: 60%;
  height: 200px;
  padding: 30px 40px;
  margin: 0 auto;
  display: flex;
}
.search-form form {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.search-input-form {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
}
.area-search {
  margin-bottom: 20px;
}
.search-form input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 10px;
  line-height: 40px;
  border: none;
}
.search-form input[type="submit"] {
  display: inline-block;
  width: 100%;
  height: 60px;
  padding: 10px;
  line-height: 40px;
  border-radius: 16px;
  color: #fff;
  background-color: orange;
  font-size: 20px;
  border: none;
}
.searc-button {
  width: 100%;
  display: inline-block;
  height: 50%;
  padding: 20px;
  line-height: 50px;
}
h2.area-container-title {
  font-size: 40px;
  padding: 20px;
  margin: 100px 0 100px 20px;
  border-bottom: 5px solid orange;
  width: 400px;
}
