// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper {
  display: flex;
}
.user-menu {
  width: 25%;
  max-width: 250px;
  margin: 20px;
  padding: 10px;
}
.user-menu ul {
  padding: 0;
}
.user-menu ul {
  padding: 0;
}
.user-details {
  width: 75%;
  margin-top: 50px;
  padding: 20px;
  margin-left: 40px;
}
.border {
  display: flex;
  justify-content: space-between;
}
h2.border {
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 30px;
}
.account {
  display: inline-block;
  height: 50px;
  padding: 20px 20px 40px 20px;
  border: 1px solid #eee;
  width: 100%;
  text-decoration: none;
}
.details-title {
  margin: 50px 40px 0 0;
}
.detail-title {
  margin: 20px;
}
.user-details-menu {
  display: flex;
}
.detail-contents ul li {
  margin-top: 25px;
}
.detail-image {
  border-radius: 50%;
  overflow: hidden;
}
.detail-contents ul li.profile-contents {
  margin-top: 55px;
}

.user-details form {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.field {
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}
.field input[type="email"],input[type="password"] {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px;
  line-height: 40px;
  border: 1px solid #bbb;
  border-radius: 4px;
}
.button-wrapper {
  display: flex;
  margin-left: auto;
  width: 300px;
}
.button-wrapper input[type="submit"] {
  display: inline-block;
  width: 100px;
  height: 60px;
  padding: 10px;
  line-height: 30px;
  border-radius: 16px;
  color: #fff;
  background-color: orange;
  font-size: 20px;
  border: none;
}
.cancel {
  display: inline-block;
  width: 150px;
  height: 60px;
  padding: 10px;
  border-radius: 16px;
  font-size: 20px;
  border: 1px solid #ddd;
  color: #aaa;
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
}
